* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html:root {
    --Pink: #ff1dffd9;
    --Blue: #1decffd9;
    --gray-paragraph: #6C6C72;
    --Black: #0d0d1e;
    --White: #FFFFFF;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: Monserrat, sans-serif;
    font-style: normal;
}

.white {
    color: var(--White);
}

.white::selection {
    background-color: var(--White);
    color: var(--Black);
}


header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #0d0d1e;
    text-align: center;
    padding: 20px 0;
}



nav {
    display: flex;
    margin: 20px auto 0 auto;
    /* justify-content: center; */
    max-width: 800px;
    text-align: center;
}


.nav-ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    
}


.nav-li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: var(--White);
}


nav a:hover {
    text-decoration: underline;
}


.first {
    padding: 20px 0;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	background-repeat: no-repeat;
    background-size: cover;
}


.content {
    width: 80%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(20, 20, 48, 0.8);
    box-shadow: -5px -5px 10px rgba(255, 29, 255, 0.7),
                5px 5px 10px rgba(29, 236, 255, 0.7);
                /* inset 5px 5px 10px rgba(255, 29, 255, 0.7),
                inset -5px -5px 10px rgba(29, 236, 255, 0.7); */
    border-radius: 10px;
    
}

/* .content:hover {

} */


.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.profile-img {
    max-width: 100px;
    border-radius: 50%;
}


@media (min-width: 1024px) {
    .profile-img {
        max-width: 300px;
    }
}


.bio {
    margin-left: 20px;
    max-width: 300px;
}


.main-h2 {
    padding: 20px 0 0 0;
}


.git {
    color: var(--Royal-blue);
}


.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}


.wrap-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}


.list1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.details a {
    text-decoration: none;
    color: var(--White);
}


.main-list {
    list-style-type: none;
    padding: 20px 0 0 0;
}


.details a:hover{
    text-decoration: underline;
    
}


footer {
    background-color: var(--Black);
    color: var(--White);
    text-align: center;
    padding: 10px 0;
}